.App {
  text-align: center;
}

/* .App-logo { */
/*   animation: App-logo-spin infinite 20s linear; */
/*   height: 80px; */
/* } */

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.demo-card {
  width: 72px;
  height: 96px;
  background: url(./cards.png) -1px -1px;
  margin: 20px;
}
.demo-card2 {
  width: 72px;
  height: 96px;
  background: url(./cards.png) -74px -1px;
  margin: 20px;
}

.demo-card3 {
  width: 72px;
  height: 96px;
  background: url(./cards.png) -74px -99px;
  margin: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
